<div id="index-container" class="container">
<table class ="table">
	<tbody>
		<% @messages.each do |m| %>
			<% if m.parent %>
			<tr class="message-row">
				<td><span class="message-span"><%= m.body %></span></td>
			</tr>
			<% else %>
			<tr class="response-row">
				<td class="response_row">asdf <%= m.body %></span></td>
			</tr>
			<% end %>
		<% end %>
	</tbody>
</table>