<div id="index-container" class="container">
<table class="table borderless">
	<tbody>
		<% @messages.each do |m| %>
			<% if m.parent %>
				<tr class="message-row">
					<td class="table-td"><span class="message to"><%= m.body %></span></td>
				</tr>
				<tr class="response-row">
					<td><span class="message from"><%= m.body %></span></td>
				</tr>
			<% else %>
				<tr class="message-row">
					<td><span class="message to"><%= m.body %></span></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>