<div id="logo" class="row">
	<div class="col-md-12">
		<h1>Social Bot</h1>
	</div>
</div>

<div id="index-container" class="container">
	<table id="message-table" class="table">
		<tbody>
			<% @conversation.each do |message, response| %>
				<% if response %>
					<tr>
						<td><div class="message from"><%= message %></span></td>
					</tr>
					<tr>
						<td><div class="message to"><%= response %></span></td>
					</tr>
				<% else %>
					<tr>
						<td><div class="message from"><%= message %></span></td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
</div>