/*
 * This is a manifest file that'll automatically include all the stylesheets
 * available in this directory and any sub-directories. You're free to add
 * application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style
 * scope.
 *= require_self
 *= require_tree .
*/

@import "twitter/bootstrap";

#index-container {
	max-width: 700px;
}
.message-row {
}
.response-row {
	text-align: right;
}
.message-span {
	background-color: gray;
	padding: 10px;
}
.response-span {

}