/*
 * This is a manifest file that'll automatically include all the stylesheets
 * available in this directory and any sub-directories. You're free to add
 * application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style
 * scope.
 *= require_self
 *= require_tree .
*/

body {
  color: #FFFFFF;
  font-family: "Open Sans";
  line-height: 26px;
}

@import "twitter/bootstrap";

#logo {
  border-bottom: 1px solid #cecece;
  margin-bottom: 10px;
}
.table > tbody > tr > td {
  border: 0;
  padding: 0;
}

#index-container {
	max-width: 600px;
}
.message {
  border-radius: 20px 20px 20px 20px;
  margin: 0 15px 2px;
  padding: 15px 20px;
  position: relative;
}
.message.to {
  background-color: #2095FE;
  color: #fff;
  margin-left: 80px;
  font-weight: 200;
  float: right;

}
.message.from {
  background-color: #E5E4E9;
  color: #363636;
  margin-right: 80px;
  float: left;
}
.message:before {
  border-color: #2095FE;
  border-radius: 50% 50% 50% 50%;
  border-style: solid;
  border-width: 0 20px;
  bottom: 0;
  clip: rect(20px, 35px, 42px, 0px);
  content: " ";
  height: 40px;
  position: absolute;
  right: -50px;
  width: 70px;
  z-index: -1;
}
.message.from:before {
  border-color: #E5E4E9;
  left: -50px;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}